<div class="notice">
  <%= flash[:notice] %>
</div>

<%- model_class = Restaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <h3>Owner: <%= @user.name %></h3>
</div>

<dl class="dl-horizontal">
  
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @restaurant.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @restaurant.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @restaurant.address %></dd>

  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @restaurant.phone %></dd>

  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag(@restaurant.image_url(:full).to_s, alt: "No file found") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:menu) %>:</strong></dt>
  <dd><%= link_to(image_tag('menu.png', alt: "No file found", size: "40x40"), @restaurant.menu_url) %></dd>

  <dt><strong><%= model_class.human_attribute_name(:menu) %>:</strong></dt>
  <dd><%= image_tag("http://maps.google.com/maps/api/staticmap?center=#{@restaurant.address}&zoom=16&size=400x400&markers=#{@restaurant.address}", {download: true}) %></dd>
</dl>


<% if @restaurant.user_id.to_i == session[:user_id].to_i && @owned_reservations %>
  <div class="reservations">
    <h3>Scheduled reservations:</h3>
    <table>
        <tr>
          <th>Email</th>
          <th>Time</th>
        </tr>
        <% @owned_reservations.each do |reservation| %>  
          <tr>
            <td><%= reservation.email %></td>
            <td><%= reservation.time %></td>    
          </tr>
        <% end %>
    </table>
  </div>
<% end %>

<!-- Resevations -->
<h3>Make reservation</h3>
<%= form_for [@restaurant, @reservation] do |f| %>
    <%= f.label :email  %>
    <%= f.email_field :email %><br>
    <%= f.label :time  %>
    <%= f.datetime_select :time, default: Time.now, prefix: :time %>

    <%= f.submit %>
<% end %>



<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              restaurants_path, :class => 'btn'  %>
  <% if @restaurant.user_id.to_i == session[:user_id].to_i %>              
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_restaurant_path(@restaurant), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              restaurant_path(@restaurant),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>