<!DOCTYPE html>
<html>
<head>
  <title>SimpleRestaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href=<%= root_path %>>
        <%= image_tag("logo.png") %>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to("Restaurant List", root_path ) %></li>
          <li><%= link_to("New Restaurant", new_restaurant_path ) %></li>
          <% if current_user %>
            <li><%= link_to("Logout", destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li><%= link_to("Login", new_user_session_path) %></li>
            <li><%= link_to("Signup", new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
